<ion-header>
  <ion-toolbar>
    <ion-title>Create</ion-title>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="addParty()" [formGroup]="createBookForm" novalidate>
    <ion-item>
      <ion-label position="stacked">Book Title</ion-label>
      <ion-input
        formControlName="title"
        type="text"
        placeholder="Whats the book name"
      >

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea
        formControlName="description"
      >
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <ion-input
        formControlName="img"
        type="text"
        placeholder="Paste the URL of your image here"
      >

      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date</ion-label>
      <ion-datetime
        placeholder="Whats the book name"
        displayFormat="MMMM DD YYYY"
        formControlName="date"
      >

      </ion-datetime>
    </ion-item>

    <ion-button expand="block" type="submit">Save</ion-button>
  </form>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="delete()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
