<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Read List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" lines="none">
  <ion-list>
    <ion-item *ngFor="let read of readList | async" routerLink="/create/{{ read.id }}">
      <ion-thumbnail slot="start">
        <img [src]="read.img" alt="">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ read.title }}</h3>
        <p>{{ read.description }}</p>
        <p>{{ read.date| date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
